.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  gap: 0.5rem;

  span {
    color: var(--gray-300);
    margin-bottom: 6px;
  }
}

.button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

@media (max-width: 768px) {
  .buttonsContainer {
    gap: 3px;
  }
}
