.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;

  max-width: 100%;
}

.tag {
  width: fit-content;
  height: fit-content;

  padding: 2px 10px;

  font-size: 0.8rem;
  color: var(--blue-500);
  background-color: white;

  border-radius: 24px;
  border: 1px solid var(--blue-500);
}

@media (max-width: 768px) {
  .tags {
    max-width: 300px;
  }
}
